@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap");
body {
  background-color: rgb(59, 69, 111);
}
form {
  margin-top: 4rem;
  margin-left: 2rem;
}
form-field {
  margin-left: 3rem;
}
.form-field input {
  width: 14.2rem;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-family: "Tajawal", sans-serif;
}
textarea {
  width: 14.2rem;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  margin-top: 1rem;
  font-family: "Tajawal", sans-serif;
}
label {
  font-family: "Tajawal", sans-serif;
  color: azure;
}

#submit {
  margin-top: 4%;
  border-radius: 5px;
  width: 15rem;
  padding: 7px;
  border: 1px solid #627d56;
  background-color: #627d56;
  color: #fff;
  font-size: 12px;
  margin-left: 9rem;
  margin-bottom: 2rem;
}
#dropdown {
  width: 15rem;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
}
.whitespace {
  color: rgb(59, 69, 111);
}
.note-container {
  background-color: azure;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.note {
  margin: 2rem;
  font-family: "Tajawal", sans-serif;
}
