@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap");
body {
  background-color: rgb(59, 69, 111);
  position: relative;
}
form {
  margin-top: 4rem;
  margin-left: 2rem;
}
form-field {
  margin-left: 3rem;
}
.form-field input {
  width: 14.2rem;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-family: "Tajawal", sans-serif;
}
textarea {
  width: 14.2rem;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  margin-top: 1rem;
  font-family: "Tajawal", sans-serif;
}
label {
  font-family: "Tajawal", sans-serif;
  color: azure;
}

#submit {
  margin-top: 2%;
  border-radius: 5px;
  width: 15rem;
  padding: 7px;
  border: 1px solid #627d56;
  background-color: #627d56;
  color: #fff;
  font-size: 12px;
  margin-left: 9rem;
  margin-bottom: 0rem;
  cursor: pointer;
}
#dropdown {
  width: 15rem;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
}
.whitespace {
  color: rgb(59, 69, 111);
}
#note-header {
  margin: 2rem;
  font-family: "Tajawal", sans-serif;
  color: azure;
}
.note-container {
  background-color: azure;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 120%;
  position: relative;
}

.note {
  margin: 1rem;
  font-family: "Tajawal", sans-serif;
}

.vl {
  border-left: 0.5px solid rgb(165, 10, 10);
  height: 270px;
  position: absolute;
  left: 2%;
  border-style: double;
  margin-left: 1rem;
  top: 4%;
}
hr {
  line-height: 30rem;
}
p {
  margin-left: 2rem;
}
span {
  font-family: "Tajawal", sans-serif;
  font-style: italic;
}

.popup {
  position: absolute;
  left: 54%;
  bottom: -80%;
  background-color: aliceblue;
  width: 28rem;
}

button {
  margin: 1rem;
  background: transparent;
  border: 5px solid 0.0005px;
  cursor: pointer;
  width: auto;
  background-color: rgb(59, 69, 111);
  border-radius: 100px;
  color: whitesmoke;
  font-family: "Tajawal", sans-serif;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 14px;
}
.deletebutton {
  margin: 1rem;
  background: transparent;
  border: 5px solid 0.0005px;
  cursor: pointer;
  width: auto;
  background-color: rgb(194, 81, 116);
  border-radius: 100px;
  color: whitesmoke;
  font-family: "Tajawal", sans-serif;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 14px;
}
.editbutton {
  margin: 1rem;
  background: transparent;
  border: 5px solid 0.0005px;
  cursor: pointer;
  width: auto;
  background-color: rgb(59, 69, 111);
  border-radius: 100px;
  color: whitesmoke;
  font-family: "Tajawal", sans-serif;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 14px;
}

.view {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.post {
  background-color: rgb(255, 255, 255);
}
.editpopup {
  background: transparent;
}
